extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .content-body
            .success-text
                p Hello, user!
            .description 
                p You are in your brand new web application
            .description
                p Do what you want!
  .row
    .col-md-4
      h2 Last locations
      ul
        each val in lastLocations
            li  #{val.location_name} 
    .col-md-4
      h2 Continuous Delivery
      p View your CI/CD pipeline on Visual Studio Team Services and customize it as per your needs
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862410') Learn more &raquo;
    .col-md-4
      h2 Azure DevOps Project
      p Learn more about all you can do with Azure DevOps project by visiting the documentation
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862126') Learn more &raquo;